#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}